<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= receita.nome %></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/reviewrecipe.js"></script>
</head>
<body>
    <div class="container" id="container">
        <h1 id='header'><%= receita.nome %></h1>
        <img src="<%= receita.imagem %>" alt='Ilustração da receita' style="width:500px;height:500px;">
        <h3 class="subtitle"><%= receita.subtitulo %></h3>
        <p class="description"><%= receita.descricao %></p>
        
        <div>
            <h4 class="ingredients">Ingredientes</h4>
            <ul>
                <% receita.ingredientes.forEach(function(ingrediente) { %>
                    <li><%= ingrediente %></li>
                <% }); %>
            </ul>
        </div>
        
        <div id='recipe'>
            <h4 class="recipe">Modo de preparo</h4>
            <h5 class="time">Tempo: <%= receita.tempo_de_preparo %></h5>
            <ol>
                <% receita.modo_de_preparo.forEach(function(passo) { %>
                    <li><%= passo %></li>
                <% }); %>
            </ol>
        </div>

        <h1>Dê uma nota para esta delícia!</h1>
        <div class="rating" id="starRating">
            <span onclick="rate(1)">&#9734;</span>
            <span onclick="rate(2)">&#9734;</span>
            <span onclick="rate(3)">&#9734;</span>
            <span onclick="rate(4)">&#9734;</span>
            <span onclick="rate(5)">&#9734;</span>
        </div>

        <a href="#header">Retornar ao topo</a>
        <p></p>
        <a href="../">Retornar à página principal</a>
    </div>
</body>
</html>